.top-bar {
	background-color: rgba(73,73,73,.5);
	height: 75px;
	width: 100%;
	line-height: 75px;
	border-bottom: thick solid #ff00ba;
}

.top-nav {
	color: white;
	text-align: center;
}

.slider-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.box {
    height: 500px;
    width: 100%;
    position: absolute;
}

.slider1 {
	background-image: img('images/slider1.jpg');
}

.slider2 {
	background-color: url('images/slider2.jpg');
}

.slider3 {
	background-color: url('images/slider3.jpg');
}